# Ignore everything
*
# Tracking files
!README.md
!.gitignore
!.vimrc
!.speedswapper
!.bashrc

!/.vim/
!/.vim/autoload/
!/.vim/autoload/pathogen.vim
!/.vim/bundle/
!/.vim/bundle/vim-fireplace

!/Applications
/Applications/*
!/Applications/bin
/Applications/bin/*
!/Applications/bin/rhc-backup

