[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-clojure-highlight"]
	path = .vim/bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule ".vim/bundle/vim-cljfmt"]
	path = .vim/bundle/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
