# Ignore everything
*
# Tracking files
!README.md
!.gitignore
!.vimrc
!.speedswapper
!.bashrc

!/.vim/
!/.vim/autoload/
!/.vim/autoload/pathogen.vim
!/.vim/bundle/
!.vim/bundle/vim-fireplace
!.vim/bundle/vim-clojure-static
!.vim/bundle/vim-clojure-highlight
!.vim/bundle/vim-cljfmt

!/Applications
/Applications/*
!/Applications/bin
/Applications/bin/*
!/Applications/bin/rhc-backup

